USE [master]
GO
/****** Object:  Database [CodeDemo]    Script Date: 5/29/2023 9:05:15 PM ******/
CREATE DATABASE [CodeDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CodeDemo', FILENAME = N'C:\Users\Desktop\CodeDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CodeDemo_log', FILENAME = N'C:\Users\Desktop\CodeDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CodeDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CodeDemo]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/29/2023 9:05:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/29/2023 9:05:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[User] [nvarchar](100) NOT NULL,
	[Firm] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
